article.post(role="article")
		a(href="/page.html#top")
			img(src="/assets/img/post0.jpg")
		a(href="/").category category
		
		.entryBox
			header.entryHeader
				a(href="/page.html#top"): h1  Тест русских шрифтов и заголовков :)

			.entryContent
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis officia nesciunt, dignissimos rerum reiciendis culpa eveniet consectetur dicta magni inventore sequi molestiae ipsa illum doloremque quos eos harum cupiditate. Quae vel aperiam maiores beatae consequuntur ab cupiditate. At nesciunt perferendis pariatur, labore error iure corporis quas voluptatibus necessitatibus vitae aut nam perspiciatis dolorem unde soluta optio quibusdam odio earum est eum asperiores molestias dolor. Ullam, explicabo aliquam quaerat, porro reprehenderit temporibus velit obcaecati asperiores saepe eius aut ad ipsa.

			//- .entryMeta
			//- 	i.fa.fa-tags
			//- 	a(href="") js
			//- 	a(href="") test
			//- 	a(href="") jade
			//- 	a(href="") stylus

