article.post(role="article")
	-if(Math.random() >= .5)
		a(href="/page.html#top"): img(src="/assets/img/post0.jpg")
	-else
		a(href="/page.html#top"): img(src="/assets/img/post1.jpg")
	
	.entryBox
		header.entryHeader
			-if(Math.random() >= .5)
				a(href="/page.html#top"): h1 Another Impressive Day
			-else
				a(href="/page.html#top"): h1 Another Impressive Day Another Day very long :)
			.entryMeta
				time(datetime="2014-12-22") 22 December 2014

		.entryContent
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas omnis officia nesciunt, dignissimos rerum reiciendis culpa eveniet consectetur dicta magni inventore sequi molestiae ipsa illum doloremque quos eos harum cupiditate. Quae vel aperiam maiores beatae consequuntur ab cupiditate. At nesciunt perferendis pariatur, labore error iure corporis quas voluptatibus necessitatibus vitae aut nam perspiciatis dolorem unde soluta optio quibusdam odio earum est eum asperiores molestias dolor. Ullam, explicabo aliquam quaerat, porro reprehenderit temporibus velit obcaecati asperiores saepe eius aut ad ipsa.
				
		.entryReadMore
			a(href="/page.html#top") Читать дальше