@import 'nib'

body
	font-family 'Open Sans', sans-serif
	background #f1f1f1

a
	text-decoration none

.section-inner
	width: 1440px;
	max-width: 93%;
	margin 0 auto	
	position relative

// Title
#star
	background radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
	width 100%
	position absolute
	top 0
	right 0
	left 0
	z-index -2

#title
	text-align center
	padding 60px 0
	color #fff
	
#blog-title
	a
		font-weight 900
		font-size 3em
		color #fff
		transition-duration 0.3s

#blog-subtitle
	font-size 1.3em
	
	@media all and (max-width: 500px)
		display none

// Title end


// Navigation

#navigation
	width 100%
	background #1d1d1d
	position relative
	top -15px
	
#main-menu
	margin 0
	list-style none
	padding 20px
	padding-left 0
	
	li
		display inline
		position relative
		padding 20px
		padding-right 30px
		
	a
		font-size 1em
		font-weight: 700;
		color #C5C5C5
		text-transform: uppercase;
		letter-spacing: 1px;
		transition-duration 0.3s
		
	li:hover
		a
			cursor pointer
			color #fff
			
#menu-social
	position absolute
	right 0
	top 50%
	margin-top -18px
	list-style none
	
	li
		float left
		margin-left 5px
		margin-right 5px
		text-align center
		
		:hover
				background #ca2017
		
		a
			display block
			width 36px
			height 36px
			background #333
			color #fff
			border-radius 999px
			position relative
			transition-duration 0.3s
			
			i
				margin-top 9px

.slash:before
	content "/"
	display block
	position absolute
	right 0
	top 50%
	margin-top -0.7em
	// margin-right -24px
	font-size 1.4em
	color #444
	font-weight 300
	z-index 1000

// end Navigation

// content

// end content

// Navigation
// end Navigation

// Navigation
// end Navigation