@import 'nib'

body
	font-family 'Open Sans', sans-serif
	background #f1f1f1

a
	text-decoration none

.section-inner
	width: 1440px;
	max-width: 93%;
	margin 0 auto	
	position relative

// Title
#star
	background radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
	width 100%
	position absolute
	top 0
	right 0
	left 0
	z-index -2

#title
	text-align center
	padding 60px 0
	color #fff
	
#blog-title
	a
		font-weight 900
		font-size 3em
		color #fff
		transition-duration 0.3s

#blog-subtitle
	font-size 1.3em
	
	@media all and (max-width: 500px)
		display none

// Title end


// Navigation

#navigation
	width 100%
	background #1d1d1d
	
#main-menu
	margin 0
	list-style none
	padding 20px
	padding-left 0
	
	li
		display inline
		position relative
		padding 20px
		
	a
		font-size 1.1em
		color #C5C5C5
		transition-duration 0.3s
		
	li:hover
		a
			cursor pointer
			color #fff

.slash:before
	content "/"
	display block
	position absolute
	right 0
	top 50%
	margin-top -9px
	margin-right -24px
	font-size 18px
	color #444
	font-weight 300
	z-index 1000

// end Navigation

// Navigation
// end Navigation

// Navigation
// end Navigation

// Navigation
// end Navigation