extends ./layout.jade

block content
	//- -for(var x = 8;x--;)
	//- 	include ./includes/post.jade

	//- nav.pagination
	//- 	a.newer-posts(href="/")← Страые записи
	//- 	span Страница 1 из 2
	//- 	a.older-posts(href="/page/2/") Новые записи →